#contact {
    width: 100%;
    height: 120px;
    background-color:rgb(111 100 196);
    box-sizing: border-box;
    padding: 20px;
  }

h2{
    padding:6px;
    margin-bottom: 4px;
    font-size:30px;
    text-align:center;
 }
.icons{
    display: flex;
    justify-content: center;
}