#home{
   display: flex;
   flex-direction: row;
   background-color: rgb(140, 123, 238);
   height: 1100 px;
   color:rgb(134, 9, 15);
   justify-content: center;
   align-items: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
  }
#home::before{
    content: "";
    position: absolute;
    top:0;
    right:0;
    background-image: url("../images/bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 650px;
    width: 100%;
    z-index:-1;
    opacity: .7;
}
.main{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(151, 168, 245);
    position:absolute;
    top: 18%;
    right:2.5%;
}
.headings{
    font-family: century;
    font-size: 2rem;
    text-align: center;
    margin: 30px 0px;
}