#home{
   display: flex;
   flex-direction: row;
   background-color: rgb(138, 65, 232);
   background-attachment: scroll;
   color:rgb(247, 243, 243);
   justify-content: center;
   align-items: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
   background-image: url("../images/bg.jpeg");
   background-repeat:no-repeat;
   background-size: cover;
}
#home::before{
    content: "";
    top:0;
    right:0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 650px;
    width: 100%;
    z-index:-1;
    opacity: .7;
}
.main{
    display:block;
    flex-direction: column;
    border: 1px solid rgb(151, 168, 245);
    position:absolute;
    top: 18%;
    right:2.5%;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 30px 0px;
}

